h1{
	color: lightblue;
	font-family: arial,verdana,sans-serif;
	font-size: 80px;
	font-weight: normal;
	font-variant: small-caps;
	font-style: italic;
}
p{
	font-family: georgia,serif ;
	line-height: 50px;
}